html,body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-weight:100;
}
body {
    height:100vh;
    display:flex;
    flex-direction:column;
    min-height:0;
    background:rgb(245,245,245);
}

/*---Header*/
#header {
    background:#19242a;
    padding:6px 20px;
    color:white;
    display:flex;
    align-items:flex-end;
}
#title {
    display:flex;
    font-size:1.4rem;
    cursor:pointer;
}
#title:hover {
    opacity:0.85;
}
#title_icon {
    height:1.6rem;
    margin-right:0.3rem;
}
/*#title_text {*/
    /*flex:1;*/
/*}*/
#page_title {
    flex:1;
    text-align:center;
    font-size:1.2rem;
}
#top_links a {
    padding:4px 10px;
    color:white;
    opacity:0.8;
}
#top_links a:hover {
    opacity:0.9;
}
/*---Containers*/
#main_container {
    flex:1;
    display:flex;
    /*overflow-y:auto;*/
    min-height:0;
}
#left_container, #right_container {
    flex:1;
    display:flex;
    overflow-y:auto;
}
#left_container {
    min-width:220px;
    flex-direction:column;
}

/*---Table of Contents*/
#page_toc, #links_toc {
    margin:0px;
    padding-right:16px;
    margin-left:auto;
    padding-top:14px;
    overflow:auto;
    color:rgb(50,50,50);
}

#page_toc a,#links_toc a  {
    color:rgb(50,50,50);
    padding:2px 8px;
    opacity:0.8;
    display:block;
    cursor:pointer;
}
#page_toc a:hover,#links_toc a:hover  {
    opacity:1;
}

/*---Markdown*/
#md_content {
    padding:16px;
    flex-basis:820px;
    box-sizing:border-box;
    border:none;
    overflow:auto;
    min-height:0;
    color:rgb(50,50,50);
    background:white;
    border-left:1px solid rgb(230,230,230);
    border-right:1px solid rgb(230,230,230);
    box-sizing:border-box;
}

#md_content img {
    max-width:100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.2); 
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/*---*/
/*---Min CSS*/
h1,h2,h3,h4 {color:rgb(40,40,40);font-weight:400;}
button, input[type=button],input[type=submit],input[type=reset],select {background:rgb(230,230,230);background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(230,230,230)100%);border:1px solid rgb(210,210,210);padding:6px 12px;box-sizing:border-box;border-radius:4px;font-size:1.1rem;line-height:1.1rem;cursor:pointer;margin:2px 0p;color:rgb(40,40,40);}
button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover {background:rgb(220,220,220);border:1px solid rgb(200,200,200);}
select {padding:4px 8px;color:rgb(40,40,40);}
input:not([type=checkbox]):not([type=radio]):not([type=button]), textarea {margin:2px 0px;padding:4px 8px;box-sizing:border-box;border:1px solid rg(210,210,210);border-radius:4px;}
a, a:visited {color:rgb(50,117,190);text-decoration:none;}
a:hover {color:rgb(29,79,134);}
b {font-weight:500;}
hr {border:0px;border-top: 1px solid rgb(180,180,180);}
pre, code  {background:rgb(240,240,240);border-radius:4px;border:1px solid rgb(230,230,230);padding:8px;box-sizing:border-box;line-height:1.1rem;color:rgb(80,80,80);}
pre {overflow-x:auto;}
code {padding:0px 4px;}
pre code {border:0;padding:0px;background:transparent;}
img{max-width:100%;}
table{border:1px solid rgb(220,220,220);border-collapse:collapse;} td p, th p {margin:0;}
td, th {border:1px solid rgb(220,220,220);padding:3px 6px;} th {background:rgb(240,240,240);}
li.checkbox,li.cancelled,li.future {list-style-type: none;margin-left:-25px;}
li.cancelled {text-decoration:line-through;color:gray;}
li.future {font-style:italic;color:gray;}
li.checked {color:gray;} 


@media screen and (max-width: 900px) {
    #left_container, #right_container {
        display:none;
    }
    body {
        flex-direction:column; 
    }
}

@media print {
    body {
        background:white !important;
    }
    #header {
        background:white;
        color:"black";
        align-items:center;
    }
    #page_title {
        margin-left:10px;
        text-align:left;
    }
    #page_title:before {
        content:" - ";
    }
    #left_container, #right_container, #top_links {
        display:none;
    }
    #md_content {
        overflow:visible !important;
        border:0px !important;
    }
}