body {
    background:#292e31;
}

#header {
    background:#0f161a;
}

/*---Markdown*/
#md_content {
    color:rgb(200,200,200);
    background:#1a2023;
    border-left:1px solid rgb(30,30,30);
    border-right:1px solid rgb(30,30,30);
}

.toc-item {
    color:rgb(200,200,200);
}

::-webkit-scrollbar-thumb {
    background: rgba(200,200,200,0.2); 
}

/*---Min CSS*/
h1,h2,h3,h4,h5 {
    color:white;
}
button, input[type=button],input[type=submit],input[type=reset],select {background:rgb(230,230,230);background: linear-gradient(to bottom, rgb(60,60,60) 0%,rgb(50,50,50)100%);border:1px solid rgb(20,20,20);padding:6px 12px;box-sizing:border-box;border-radius:4px;font-size:1.1rem;line-height:1.1rem;cursor:pointer;margin:2px 0p;color:rgb(200,200,200);}
button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover {background:rgb(70,70,70);background: linear-gradient(to bottom, rgb(70,70,70) 0%,rgb(60,60,60)100%);border:1px solid rgb(30,30,30);}
pre, code {
    background:rgb(20,20,20);
    border:1px solid rgb(10,10,10);
    color:rgb(180,180,180);
}
table,td,th {
    color:rgb(220,220,220);
    border:1px solid rgb(20,20,20);
}
th {
    background:rgb(60,60,60);
    color:rgb(240,240,240);
}